<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tontines</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/framework.css" />
    <link rel="stylesheet" href="css/master.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap" rel="stylesheet" />

    <script>
        function searchDaret() {
            let searchBar_daret = document.querySelector('.searchBar').value.toUpperCase();
            let courses = document.querySelectorAll('.course');
            let daretNom = document.getElementsByTagName('h4');
            let coursesList = document.querySelector('.courses-page');

            for (let i = 0; i < courses.length; i++) {
                if (daretNom[i].innerHTML.toUpperCase().indexOf(searchBar_daret) >= 0) {
                    courses[i].style.display = "";
                    coursesList.insertBefore(courses[i], coursesList.firstChild);
                } else {
                    courses[i].style.display = "none";
                }
            }
        }
    </script>

    <style>
        .logo{
            width: 230px;
            height: 75px;
            transform: translateY(-15px);
        }
        .logo img{
            width: 80%;
            height: 100%;
        }
    </style>
</head>
<body>
<div class="page d-flex">
    <div class="sidebar bg-white p-20 p-relative" th:if="${session.role eq 'user'}">
        <div class="logo">
            <a href="/"><img src="/images/logo.png"></a>
        </div>
        <ul>
            <li>
                <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/userDashboard">
                    <i class="fa-regular fa-chart-bar fa-fw"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/profile">
                    <i class="fa-regular fa-user fa-fw"></i>
                    <span>Profil</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="#" th:data-bs-toggle="modal" th:data-bs-target="'#wallet'">
                    <i><img style="width: 19px" src="/images/wallet.png"></i>
                    <span>Wallet</span>
                </a>
                <div class="modal fade" id="wallet" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="participationModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Wallet</h5>
                                <button type="button" class="btn-close tahiri"  data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="text-align: center">
                                Votre sole actuelle est <br>
                                <div class="wallet">
                                    <h4  style="color: green"><b th:text="${user.solde}"></b> Dh</h4>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="#" th:data-bs-toggle="modal" th:data-bs-target="'#ajoutSolde'" class="btn btn-success" onmouseover="this.style.backgroundColor='#198754';">Ajouter solde</a>
                                <button type="button" class="btn btn-secondary tahiri" data-bs-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MODAL : Ajouter solde -->
                <div class="modal fade" id="ajoutSolde" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="participationModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Wallet</h5>
                                <button type="button" class="btn-close tahiri"  data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="text-align: center">
                                <form action="/ajouterSoldeProcess" method="post">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="amount">
                                        <span class="input-group-text">Dh</span>
                                    </div>
                                    <br>
                                    <input type="submit" value="Ajouter" class="btn btn-success">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary tahiri" data-bs-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a class=" d-flex align-center fs-14 c-black rad-6 p-10" href="/mesParticipations">
                    <i><img style="width: 19px" src="/images/10559921_contribution_donation_charity_grant_financial_icon.png"></i>
                    <span>Mes participations</span>
                </a>
            </li>
            <li>
                <a class="active d-flex align-center fs-14 c-black rad-6 p-10" href="/listeTontines">
                    <i class="fa-solid fa-diagram-project fa-fw"></i>
                    <span>Darets</span>
                </a>
            </li>
            <!--<li th:if="${session.role eq 'admin'}">
                <a class=" d-flex align-center fs-14 c-black rad-6 p-10" href="/ajouterDaret">
                    <i class="fa-solid fa-plus"></i>
                    <span>Créer une Daret</span>
                </a>
            </li>
            <li th:if="${session.role eq 'admin'}">
                <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/listUsers">
                    <i class="fa-regular fa-circle-user fa-fw"></i>
                    <span>Liste des utilisateurs</span>
                </a>
            </li>
             <li>
                <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="settings.html">
                    <i class="fa-solid fa-gear fa-fw"></i>
                    <span>Settings</span>
                </a>
            </li> -->
            <li>
                <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/seDeconnecter">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span>Se déconnecter</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="content w-full">
        <!-- Start Head -->
        <div class="head bg-white p-15 between-flex">
            <a href="/" th:if="${session.role ne 'user'}"><img src="images/logo.png" style="width: 150px;"></a>
            <div class="search p-relative">
                <input class="searchBar p-10" type="text" placeholder="Nom Daret" onkeyup="searchDaret()"/>
            </div>
            <!-- <div class="icons d-flex align-center" th:if="${session.role}">
                <img src="imgs/avatar.png" alt="" />
            </div> -->
        </div>
        <!-- End Head -->
        <h1 class="p-relative">Liste des tontines</h1>

        <h3 th:text="${msgsuccess}" style="text-align: center; color: green; "></h3>
        <div class="courses-page d-grid m-20 gap-20">
            <div class="course bg-white rad-6 p-relative" th:each="tontine: ${tontines}">

                <img class="cover" th:if="${tontine.id % 2 == 0}" src="imgs/course-05.jpg"/>
                <img class="cover" th:if="${tontine.id % 2 != 0}" src="imgs/course-01.jpg" th:unless="${tontine.id % 2 == 0}"/>


                <img class="instructor" src="imgs/team-01.png"/>

                <div class="p-20">
                    <input type="hidden" name="id" th:value="${tontine.id}">
                    <h4 class="m-0" th:text="${tontine.nom}"></h4>
                    <p class="description c-grey mt-15 fs-14" th:text="${tontine.description}"></p>
                </div>
                <div class="info p-15 p-relative between-flex">
                    <span style="background-color: #DF4881FF" class="title bg-green c-white btn-shape">
                        <th:block th:with="now=${#calendars.createNow().time}">
                            <a href="#" style="color: white;"
                               th:if="${session.role != null and now < tontine.dateDemarrage}"
                               th:data-bs-toggle="modal" th:data-bs-target="'#participationModal' + ${tontine.id}">Participer
                            </a>
                            <a href="#" style="color: white;"
                               th:if="${session.role == null and now < tontine.dateDemarrage}"
                               th:data-bs-toggle="modal" th:data-bs-target="'#erreur_message'">Participer
                            </a>
                            <a href="#" style="color: white;" th:if="${now > tontine.dateDemarrage}" data-bs-toggle="modal" data-bs-target="#erreur_finDelai">Participer</a>
                        </th:block>
                    </span>

                    <span class="c-grey"  th:text="${tontine.nbParticipant} + ' Participants'">
                        <i class="fa-regular fa-user"></i>
                    </span>

                    <span class="c-red" th:text="${tontine.montantTotal} + ' Dh'"></span>

                    <div class="modal fade" id="erreur_finDelai" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="participationModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Oups !</h5>
                                    <button type="button" class="btn-close tahiri"  data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Vous ne pouvez pas candidater à cette tontine car la date limite est expirée et elle a déjà débuté.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary tahiri"  data-bs-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="erreur_message" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="participationModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Oups !</h5>
                                    <button type="button" class="btn-close tahiri"  data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Vous ne pouvez pas rejoindre la tontine car vous n'êtes pas connecté.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary tahiri"  data-bs-dismiss="modal">Fermer</button>
                                    <a class="btn btn-primary" href="/login">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" th:id="'participationModal' + ${tontine.id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="participationModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="participationModalLabel">Participer à cette Daret</h5>
                                    <button type="button" class="btn-close tahiri"  data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/participer}" th:object="${participation}" method="post">
                                        <input type="hidden"  th:name="id" th:value="${tontine.id}"/>
                                        <input type="hidden" th:id="'m' + ${tontine.id}" th:name="tontine.montant" th:value="${tontine.montant}"/>
                                        <div class="form-group">
                                            <label >Pourcentage du montant de participation :</label>
                                            <br>
                                            <select class="form-control pourcentage" th:onchange="'calc(' + ${tontine.id} + ')'" th:id="'s' + ${tontine.id}" name="pourcentage">

                                                <option selected disabled>Choisissez le pourcentage du montant de participation</option>
                                                <option value="200">Double (200%)</option>
                                                <option value="100">100%</option>
                                                <option value="75">75%</option>
                                                <option value="50">50%</option>
                                                <option value="25">25%</option>

                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label >Montant de participation :</label>
                                            <br>
                                            <input style="color: green" type="text" class="form-control montantParticipation" name="montantParticipation" readonly>
                                        </div>
                                        <br>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary tahiri"  data-bs-dismiss="modal">Fermer</button>
                                            <button type="submit" class="btn btn-success">Envoyer la demande</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>



    <script>
        // Fonction pour ouvrir le modal et initialiser les données
        function openParticipationModal(id, montant) {

            // Définissez les valeurs initiales
            document.querySelector('input[name="tontine.id"]').value = id;
            document.querySelector('input[name="tontine.montant"]').value = montant;

            // Ouvrez le modal
            var modal = new bootstrap.Modal(document.getElementById('participationModal'));
            modal.show();
        }

        // Fonction pour fermer le modal
        function closeParticipationModal() {
            // Fermez le modal
            var modal = new bootstrap.Modal(document.getElementById('participationModal'));
        }

        for (let i of document.querySelectorAll('.tahiri')){
            i.addEventListener("click", function (){
                let tahiri = document.querySelectorAll('.montantParticipation')
                for(let z of tahiri){

                    z.value = '';
                }
            })
        }

        for (let i of document.querySelectorAll('.tahiri')){
            i.addEventListener("click", function (){
                let tahiri = document.querySelectorAll('.pourcentage')
                for(let z of tahiri){
                    z.value = 'Choisissez le pourcentage du montant de participation';
                }
            })
        }
        function calc(e){
            var pourcentage = parseFloat(document.getElementById("s"+ e).value);
            var montantInitial = parseFloat(document.getElementById("m"+ e).value);

            if (!isNaN(pourcentage) && !isNaN(montantInitial)) {
                var montantParticipation = (pourcentage / 100) * montantInitial;
                let tahiri = document.querySelectorAll('.montantParticipation')
                for(let x of tahiri){
                    x.value = montantParticipation.toFixed(2);
                }
            }
        }

    </script>



</body>
</html>