<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        body{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h1{
            text-align: center;
            color: green;
        }
    </style>
</head>
<body>
    <h1>You are registered successfully</h1> <br>
    <h3><a th:href="@{/login}">Login</a></h3>
</body>
</html>